<!-- @dsCard group="Molecules" viewport="700x560" name="StepTracker" subtitle="Vertical order tracking and horizontal checkout progress." -->
<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css"><link rel="stylesheet" href="../_story.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../_story.js"></script>
<script src="../../brand.js"></script>
<script src="../../_ds_bundle.js"></script>
</head><body><div id="root"></div><script type="text/babel">
const { StepTracker } = window.PinkPaprikaaDesignSystem_23ef63;
function Demo(){const steps=[{label:'Order in',note:"Kitchen's on it."},{label:'On the tandoor',note:'Chilli paneer is charring.'},{label:'Ready for pickup',note:'Counter 2, ask for Paprikaa.'}];
return(<Rows>
<Row label="vertical" col><StepTracker steps={steps} current={1} base="../../assets"/></Row>
<Row label="horizontal" col><StepTracker orientation="horizontal" current={1} steps={['Cart','Details','Pay','Done']}/></Row>
<Row label="inverse" className="pad on-brand" col><StepTracker orientation="horizontal" tone="inverse" current={2} steps={['Cart','Details','Pay','Done']}/></Row>
</Rows>);}
ReactDOM.createRoot(document.getElementById('root')).render(<Demo />);
</script></body></html>