<!-- @dsCard group="Atoms" viewport="700x300" name="Badge" subtitle="7 tones, with and without a glyph." -->
<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css"><link rel="stylesheet" href="../_story.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../_story.js"></script>
<script src="../../brand.js"></script>
<script src="../../_ds_bundle.js"></script>
</head><body><div id="root"></div><script type="text/babel">
const { Badge } = window.PinkPaprikaaDesignSystem_23ef63;
function Demo(){return(<Rows>
<Row label="tone"><Badge tone="brand">Bestseller</Badge><Badge tone="soft">New</Badge><Badge tone="ink">Tonight Only</Badge><Badge tone="neutral">Veg</Badge></Row>
<Row label="status tones"><Badge tone="success">Confirmed</Badge><Badge tone="warning">Kitchen Busy</Badge><Badge tone="danger">Sold Out</Badge></Row>
<Row label="icon"><Badge tone="soft" icon="flame">Hot</Badge><Badge tone="success" icon="leaf">100% Veg</Badge><Badge tone="brand" icon="star">Chef Pick</Badge></Row>
</Rows>);}
ReactDOM.createRoot(document.getElementById('root')).render(<Demo />);
</script></body></html>