<!-- @dsCard group="Atoms" viewport="700x300" name="Tag" subtitle="Selected and unselected filter pills, with glyphs and disabled." -->
<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css"><link rel="stylesheet" href="../_story.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../_story.js"></script>
<script src="../../brand.js"></script>
<script src="../../_ds_bundle.js"></script>
</head><body><div id="root"></div><script type="text/babel">
const { Tag } = window.PinkPaprikaaDesignSystem_23ef63;
function Demo(){const [v,setV]=React.useState('All');return(<Rows>
<Row label="selectable" note="one at a time">{['All','Small Plates','Sweets'].map(t=><Tag key={t} selected={v===t} onClick={()=>setV(t)}>{t}</Tag>)}</Row>
<Row label="icon"><Tag icon="leaf">Jain</Tag><Tag icon="flame" selected>Hot</Tag><Tag icon="clock">Under 15 min</Tag></Row>
<Row label="disabled"><Tag disabled>Breakfast</Tag><Tag>Static, no onClick</Tag></Row>
</Rows>);}
ReactDOM.createRoot(document.getElementById('root')).render(<Demo />);
</script></body></html>